{
    "QUORUM": {
        "ENDPOINT": "http://localhost:22000"
    },
    "YUGABYTEDB": {
        "HOST": "localhost",
        "PORT": 5433,
        "USER": "yugabyte",
        "PASSWORD": "yugabyte",
        "DBNAME": "yugabyte"
    },
    "DROPKIT": {
        "ACCOUNT":  "0x0000000000000000000000000000000000000000",
        "CONTRACT": "0x0000000000000000000000000000000000000000",
        "PORT": "5000"
    }, 
    "PRICE": {
        "CREATE": 0,
        "INSERT": 0,
        "DELETE": 0,
        "SELECT": 0,
        "UPDATE": 0
    }
}